
/* #login-sm {
  background-color: #fff;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#signup {
  background-color: #fff;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
} */
/* #login-sm:hover,#signup:hover,#Login-lg:hover {
  color: white;
  border: solid 1px white;
  background-color: transparent;
} */
/* #login-sm.active {
  background-color: black; 
  color: white;               
  border: 2px solid black; 
}
#close-icon {
  font-size: 20px;
  border-radius: 50px;
  padding: 4px 6px 3px 4px;
}
#close-icon:hover{
  background-color: black;
  color: white;
} */